<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1027962936531-7hpehh07k2epqbidk8qt7kpji8dd5p59.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027962936531-7hpehh07k2epqbidk8qt7kpji8dd5p59</string>
	<key>API_KEY</key>
	<string>AIzaSyBjmT5ZXyrGiXOUUd7n9Ne0ZDJh7eiZFMc</string>
	<key>GCM_SENDER_ID</key>
	<string>1027962936531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>op.josho.School-Chest</string>
	<key>PROJECT_ID</key>
	<string>school-chest-2017</string>
	<key>STORAGE_BUCKET</key>
	<string>school-chest-2017.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027962936531:ios:de8396898cf7b736</string>
	<key>DATABASE_URL</key>
	<string>https://school-chest-2017.firebaseio.com</string>
</dict>
</plist>
